html {
    height: 100%;
}
body {
    height: 100%;
    overflow-y: scroll !important;
}

.flex {
    flex:1 0 auto;
    display:flex;
    flex-flow: column;
    position: relative;
    box-sizing: inherit;
}
.alex {
font-weight:normal;font-variant:small-caps;color:#000000;letter-spacing:0em;word-spacing:3em;font-size:78px;text-align:left;font-family:trebuchet MS, sans-serif;line-height:0;
}
.alex-below {
    background-color: #292b2c;
    width:100%;
    height: 4em;
    margin-top: 10em;
}
.compact {
    display:table-cell;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.table {
    margin:0;
    padding:0;
    display:table;
    table-layout: fixed;
    width:100%;
    max-width:100%;
    border-collapse: separate;
}
.name {
    width:220px;
    padding: 0px;
    vertical-align: top;
}
.lightblue {
    padding:5px !important;
    line-height: 1.3;
    font-size:1rem;
}

.table>tbody>tr>td {
   padding:2px 5px;
}
.letter {
    font-weight: 800;
    width:2em;
}
.greyRow {
  /*  border-top: 1px solid rgba(0, 0, 0, 0.05); */
}
.borderless tr td {
    border: none !important;
    padding: 0px !important;
}

.infotable {
    font-size:0.8em;
}
.infotable tr td:nth-child(1) {
    padding-right:2em;
}
.infotable tr td:nth-child(2) {
    color:grey;
}

.relationtable tbody tr td:nth-child(4) {
    width:40px;
}
.termtable tbody tr td:nth-child(3) {
    width:40px;
}


.sort_headerup:before{
    content: '';
    background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
}
.sort_headerdown:before{
    content: 'x';
    background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
}
.unactive {
    color:lightgrey;
}
.overflow {
    overflow: hidden;
}
.iconbutton {
    width:50px;
}
.lightblue {
    border-color:lightblue !important;
}

.highlight {
  background-color: yellow;
}
.relationtable th {
    padding:0px !important;
}



.name1 {
     width:250px;
    font-weight: 400;
    padding-right: 10px;
}
.subscript {
    font-size: 0.7em;
    color:#b3b3b3;
}
.editIcons {
    color:#b3b3b3;
    letter-spacing:0.5em;
  
}
.button-xs {
        padding: 0rem 0.5rem !important;
}
.table1 {
    margin:0px!important;
    padding:0px;
}
.table1 tr td {
    padding:0px !important;
    height:0.7em !important;
   
}
.table1 tr {
     margin-top:-10px !important;
      height:0.7em !important;
          line-height: 1;
}
.info-badge {
    font-size:0.7em;
    background-color: grey;
    color:white;
    padding:1px 5px;
    border-radius: 3px;
    
}
.title-header {
    letter-spacing:1px;
    font-size:1.3em !important;
    font-weight: 500!important;
       font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.float-right {
    float:right;
}
.div-border {
    border: 1px solid grey;
}

h3  {
 
     font-size:1.1em !important;
    font-weight: 500!important;
       font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
       margin:10px 0px 0px 0px !important;

}

.tableContent{
     position: relative;
  height: auto;
  min-height: 100% !important;
  flex:1 1 auto;
}
.bold {
    font-weight: bold;
}
#app {
    display:flex;
    flex-flow: column;
    height:100%;
}
.div-flex01 {
    flex: 0 1 auto;
   
}
#viewTab .btn {
    padding:0.2rem 0.5rem;
}
.menu-right {
    font-size: 1rem;
    margin-right: 0px;
}
.lineContainer {
    overflow: hidden; /* clear the float */
  
}
.left {
    padding-top:6px;
    width: 30px;

}
.right {
    overflow: hidden;
    background: #ccc
}
/* vue-boot adaptations */

.btn-xs, .btn-group-xs  {
    padding: 1px 5px !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
}

.nav-link {
    padding:0px 8px !important;
}
